<header class="header">
    <div class="header__part header__part--one">
        <img src="/img/logo.png" alt="logo" class="header__logo" />
    </div>
    <div class="header__part header__part--two">

    </div>
</header>