<header class="header">
    <div class="header__part header__part--one">
        <img src="/img/logo.png" alt="logo" class="header__logo" />
    </div>
    <div class="header__part header__part--two">
        <nav class="nav">
            <button class="nav__close-btn">
                <span class="material-symbols-outlined close-icon">
                close
                </span>
            </button>
            <div class="nav-dropdown">
                <button class="nav-dropdown__toggle">
                    <span>Employers</span>
                    <span class="material-symbols-outlined dropdown-ico">
                    arrow_drop_down
                    </span>
                </button>
                <ul class="nav-dropdown__items">
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Workforce Solutions</a>
                    </li>
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Payroll Solutions</a>
                    </li>
                </ul>
            </div>
            <div class="nav-dropdown">
                <button class="nav-dropdown__toggle">
                    <span>Job Seekers</span>
                    <span class="material-symbols-outlined dropdown-ico">
                    arrow_drop_down
                    </span>
                </button>
                <ul class="nav-dropdown__items">
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Search Jobs</a>
                    </li>
                </ul>
            </div>
            <div class="nav-dropdown">
                <button class="nav-dropdown__toggle">
                    <span>Expertise</span>
                    <span class="material-symbols-outlined dropdown-ico">
                    arrow_drop_down
                    </span>
                </button>
                <ul class="nav-dropdown__items">
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Technology Services</a>
                    </li>
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Financial Services</a>
                    </li>
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Healthcare Services</a>
                    </li>
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Retail Services</a>
                    </li>
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Big Data Solutions</a>
                    </li>
                </ul>
            </div>
            <div class="nav-dropdown">
                <button class="nav-dropdown__toggle">
                    <span>About Us</span>
                    <span class="material-symbols-outlined dropdown-ico">
                    arrow_drop_down
                    </span>
                </button>
                <ul class="nav-dropdown__items">
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Why Choose Us?</a>
                    </li>
                    <li class="nav-dropdown__item">
                        <a href="#" class="nav-dropdown__link">Our Team</a>
                    </li>
                </ul>
            </div>
            <a class="nav__link">Contact Us</a>
        </nav>
        <button class="nav__menu-btn">
            <span class="material-symbols-outlined menu-ico">
            menu
            </span>
        </button>
    </div>
</header>