<!DOCTYPE html>
<html lang="en">
{% include "public/partials/head.njk" %}
<body>
    {% include "public/partials/header.njk" %}
    <main>
    {% block body %}{% endblock %}
    </main>
    <footer class="footer">
        <small>The Rockridge Group</small>
    </footer>
</body>
</html>